NODE_ENV=development
POSTGRES_DB=chrono
POSTGRES_USER=chrono
POSTGRES_PASSWORD=chrono
TIMESCALE_DB=chrono
TIMESCALE_USER=chrono
TIMESCALE_PASSWORD=chrono
MONGODB_URI=mongodb://localhost:27017/chrono
REDIS_URL=redis://localhost:6379
NEXT_PUBLIC_API_URL=http://localhost:4000
